body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.sidebar {
    width: 200px;
    background-color: #333;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
}

.container {
    margin-left: 200px; /* space for the sidebar */
}

.main-content {
    padding: 20px;
}


ul {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #e2e4e6;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.15);
}

.list-item span {
    flex-grow: 1;
    margin-right: 10px;
}

.delete-button {
    background-color: #ff6b6b;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #ff4c4c;
}

